.app {
  display: flex;
}

.column {
  margin-right: 1em;
}

.colorEditors {
  flex-grow: 1;
  margin-top: 1.5em;
}

.textField {
  font-family: inherit;
  font-size: inherit;
  width: 4em;
  border: 1px solid #ddd;
}

.hasErrors {
  border: 1px solid red;
  background-color: hsla(0, 99%, 93%, 1);
}
