.app {
  display: flex;
}

.colorEditors {
  flex-grow: 1;
}

.colorEditor {
  margin-bottom: 1em;
}

.hexColorEditor {
  margin-top: 2em;
}

.representationName {
  font-weight: bold;
  display: inline-block;
  width: 5em;
  color: hsl(216, 90%, 45%);
}

.representationFields {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
}

.textField {
  font-family: inherit;
  font-size: inherit;
  width: 4em;
  border: 1px solid #ddd;
}

.hasErrors {
  border: 1px solid red;
  background-color: hsla(0, 99%, 93%, 1);
}
