.representationName {
  composes: representationName from "./App.css";
}

.representationFields {
  composes: representationFields from "./App.css";
}

.labeledInput {
  display: inline-block;
  padding-right: 0.5em;
}

.label {
  font-weight: bold;
  padding-right: 0.25em;
}
