.colorFieldGroup {
  composes: column from "./App.css";
}

.colorName {
  width: 20em;
  color: gray;
}

.labeledInput {
  display: inline-block;
  padding-right: 0.5em;
}

.label {
  font-weight: bold;
  padding-right: 0.25em;
}
