.colorEditor {
  composes: colorEditor from "./App.css";
}

.representationName {
  composes: representationName from "./App.css";
}

.representationFields {
  composes: representationFields from "./App.css";
}

.textField {
  composes: textField from "./App.css";
}

.colorName {
  width: 20em;
  color: gray;
}

.labeledInput {
  display: inline-block;
  padding-right: 0.5em;
}

.label {
  font-weight: bold;
  padding-right: 0.25em;
}
