.colorSpaceGroup {
  border-radius: 5px;
  padding: 0 10px;
}

.colorSpaceGroupUnselected > .colorSpaceName,
.colorSpaceGroupUnselected > .elements {
  opacity: 0.5;
}

.colorSpaceGroupHighlighted > .colorSpaceName {
  opacity: 1;
}

.colorSpaceGroupSelected {
}

.lockIcon {
  margin-right: 0.5em;
  vertical-align: middle;
  opacity: 0.5;
}

.lockIcon > img {
  height: 1em;
}

.lockIcon:hover {
  opacity: 1;
}

.colorSpaceName {
  composes: column from "./App.css";

  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  width: 7em;
  color: hsl(216, 90%, 45%);
  text-decoration: none;
  line-height: 45px;
  padding-left: 0.75em;
}

.colorSpaceGroupHighlighted > .colorSpaceName {
  background: url("../assets/color-space-group-indicator.svg") no-repeat left
    center;
}

.colorSpaceGroupSelected > .colorSpaceName {
  background: url("../assets/color-space-group-indicator-selected.svg")
    no-repeat left center;
  color: white;
}

.colorFieldGroup {
  composes: column from "./App.css";
}

.labeledInput {
  display: inline-block;
  padding-right: 0.5em;
}

.label {
  font-weight: bold;
  padding-right: 0.25em;
}
