.representationName {
  composes: representationName from "./App.module.css";
}

.representationFields {
  composes: representationFields from "./App.module.css";
}

.textField {
  composes: textField from "./App.module.css";
}

.hexColorField {
  width: 6em;
}
