.colorEditor {
  composes: colorEditor from "./App.css";
}

.representationName {
  composes: representationName from "./App.css";
}

.representationFields {
  composes: representationFields from "./App.css";
}

.textField {
  composes: textField from "./App.css";
}

.hasErrors {
  composes: hasErrors from "./App.css";
}

.hexColorField {
  width: 6em;
}
